@import url(base.css);
.head-box{
	padding: 0 25px 0 30px;
	height:100px;
	margin: 0 auto;
	min-width: 955px;
}
.head-left{
	display: block;
	width:260px;
	height:80px;
	float: left;
	background: url(../images/logo.png)no-repeat;
	line-height: 80px;
	margin-top: 20px;
}

.head-right{
	float:right;
	height:100px;
}
.recommend{
	width: 150px;
	height:100%;
	float: left;
	line-height: 100px;
	text-align: right;
	margin-right: 20px;
	font-size: 12px;
}
.recommend a{
	color: #ed443b;
}
.search{
	width:auto;
	height:100%;
	float: left;
}


.search-nav{
	width: 300px;
	height:40px;
	margin-right: 35px;
	position: relative;
	top: 50%;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: -19px;
}
.head-box .search-nav input{
	width: 298px;
	height:38px;
	border:none;
	line-height: 38px;
}

.search-img{
	position: absolute;
	right: 12px;
	top: 12px;
	width: 15px;
	height:15px;
	background: url(../images/search.png)no-repeat;
	cursor: pointer;
}
.search-nav:hover{
	border-color:#666;;
}
.nav-right{
	width: 256px;
	height:100px;
	float: left;
}
.login{
	height:100%;
	line-height:100px;
	float: left;
	padding-right: 20px;
}
.login a{
	display: inline-block;
	background:url(../images/nav_a3.png) no-repeat -272px 36px;
	padding-left: 28px;
	color: #555;
	font-size:12px;
}
.page-show{
	width:180px;
	height:100%;
	float: left;
	line-height: 100px;
	font-size: 12px;
}
.nav-right a:hover{
	text-decoration: underline;
}
.span-xian{
	width: 0;
	height:15px;
	border-left: 1px solid #ccc;
}
.page-ding{
	padding:0 20px;
	color: #666
}
.page-car{
	display: inline-block;
	padding-left: 44px;
	background: url(../images/new.png)no-repeat -9px 42px;
	color: #666
}
@media screen and (max-width: 1200px){
	.head-box .search-nav{
		width:170px;
	}
	.head-box .search-nav input{
		width: 156px;
	}
} 

/* 导航栏开始 */
.nav{
	width:100%;height:40px;
	background-color:black;
	margin:0 auto;   
}
.nav-wenzi{
	width:580px;height:40px;
	/* background-color:yellow; */   
}
.nav-wenzi-xbox{
	width:96px;height:40px;
	/* background-color:green; */
	float:left; 
	margin-right:10px;  
}
.nav-wenzi-xbox a{
	font-size:12px;
	color:white;
	display: block;
	line-height: 40px;
	text-align: center;
}


/* banner图部分开始 */
.banner{
	min-width:955px;
	height:auto;
	margin:0 auto;
	overflow: hidden;
	/* background-color:blue; */ 
}
.banner-left{
	width:60%;
	height:auto;
	float:left;
	position: relative;
	overflow: hidden;
	/* background-color:yellow; */ 
}
.banner-left img{
     width:100%;
}
.banner-right{
	width: 40%;
	float: left;
}
.banner-rt{
	width:100%;
	height:100%;
}
.banner-rt img{
	display: inline-block;
    float: left;
    width: 100%;
    overflow: hidden;
}
.banner-rbl{
	width: 50%;
	display: inline-block;
    float: left;
    overflow: hidden;
}
.banner-rbl img{
	display: inline-block;
    float: left;
    width: 100%;
    overflow: hidden;
}
.banner-rbr{
	width: 50%;
	display: inline-block;
    float: left;
    overflow: hidden;
}
.banner-rbr img{
	display: inline-block;
    float: left;
    width: 100%;
    overflow: hidden;
}






.bx{
	width:1200px;height:160px;
	/* background-color:blue; */ 
	margin-top:35px;  
}
.bx-picture{
	width:300px;height:160px;
	/* background-color:green; */
	float:left; 
}
.bx-picture img{
    width:300px;height:160px;
}
.bx-middle-wenzi{
	width:462px;height:162px;
	/* background-color:yellow; */ 
	float:left; 
}
.bx-middle-wenzitop{
	width:462px;height:23px;
	/* background-color:green; */
	margin-top:33px;
	margin-left:15px; 
}
.bx-middle-wenzitop a{
	font-size:23px;
	color:black;
	display:block;
    line-height:23px; 
}
.bx-middle-wenzibuttom{
	width:459px;height:70px;
	/* background-color:white; */ 
	margin-top:5px;  
	margin-left:15px; 
}
.bx-middle-wenzibuttom a{
	font-size:11px;
	color:black; 
}
.bx-right-box{
	width:390px;height:96px;
	/* background-color:pink; */  
	float:left;
	margin-top:30px; 
}
.bx-right{
	width:390px;height:20px;
	/* background-color:red; */ 
	float:left;
	margin-left:30px; 
}
.bx-right a{
	font-size:12px;
	color:black;
	display: block;
	text-align: center;
	line-height:20px   
}




@media screen and (min-width: 1200px){
	.teje-box{
		width: 1200px;
	}
	.teje2-box{
			display: none;
		}
/*.teje-box{
	width:1200px;height:643px;
	background-color:blue; 
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9; 
	margin-top:30px; 
}*/
.teje-xbox{
	width:1200px;height:539px;
	/* background-color:green; */
	margin:52px auto;  
}
.teje-left{
	width:220px;height:539px;
	/* background-color:blue; */ 
	float:left; 
	cursor:pointer;  
}
.teje-left img{
	width:220px;height:539px;
}
.teje-middle{
    width:980px;height:540px;
    /* background-color:black; */  
    float: left;
}
.teje-middle-left{
	width:250px;height:540px;
	/*background-color:yellow; */
	float: left;  
}
.teje-middle-lefts{
	width:262px;height:269px;
	border-bottom:1px solid #e9e9e9;
	/*background-color:green; */
}
.teje-middle-lefts-n{
	width:175px;height:216px;
	/*background-color:orange; */
	/* margin-top:26px; */ 
}
.teje-middle-lefts-nwz{
	width:175px;height:13px;
	/*background-color:yellow; */
	margin-bottom:5px; 
}
.teje-middle-lefts-nwz a{
    font-size:13px;
    color: black; 
    display: block;
    line-height:13px;  
}
.teje-middle-lefts-nwzt{
	width:175px;height:37px;
	/*background-color:yellow; */
}
.teje-middle-lefts-nwzta{
	width:50px;height:37px;
	/*background-color:blue; */
	float:left;
}
.teje-middle-lefts-nwztat{
	width:50px;height:12px;
	/* background-color:red; */ 
}
.teje-middle-lefts-nwztat a{
     font-size:12px;
     color:black;
     display:block;
     text-align:center; 
     line-height:12px;   
}
.teje-middle-lefts-nwztatb{
      width:50px;height:20px;
      background-color:red; 
      margin-top:3px; 
}
.teje-middle-lefts-nwztatb a{
	font-size:11px;
	color:white;
	display: block;
	text-align:center;
    line-height:20px; 
}

.teje-middle-lefts-t{
	width:115px;height:118px;
	/* background-color:black; */
	margin-right:15px; 
}
.teje-middle-lefts-t img{
    width:115px;height:118px;
    transition:transform 0.6s;
}
.teje-middle-lefts-t img:hover{
	transform:translateX(-20px);
}

.teje-middle-middle{
	width:478px;height:540px;
	/*background-color:yellow; */
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9; 
	float:left;
}
.teje-middle-middlet{
	width:439px;height:180px;
	/*background-color:white; */
}
.teje-middle-middletwz{
	width:439px;height:24px;
	/*background-color:green; */
}
.teje-middle-middletwz a{
	font-size:24px;
	color:black;
	display: block;
	line-height:24px;  
}
.teje-middle-middletwzz{
	width:439px;height:12px;
	/*background-color:green; */
	margin-top:5px; 
}
.teje-middle-middletwzz a{
	font-size:12px;
	color:#999999;
	display: block;
	line-height:12px; 
}
.teje-middle-middletwzb{
	width:73px;height:46px;
	/*background-color:green;  */
	margin-top:10px;
	float:left;   
}
.teje-middle-middletwzbt{
	width:73px;height:17px;
	/*background-color:blue; */
}
.teje-middle-middletwzbt a{
    font-size:17px;
    color:black;
    display:block;
    text-align: center;
    line-height:17px;   
}
.teje-middle-middletwzbts{
	width:48px;height:19px;
	background-color:red;
	margin-top:5px; 
}
.teje-middle-middletwzbts a{
	font-size:19px;
    color:white;
    display:block;
    text-align: center;
    line-height:19px; 
}
.teje-middle-middleb{
	width:396px;height:350px;
	/*background-color:green;  */
}
.teje-middle-middleb img{
	width:396px;height:350px;
	transition:transform 0.5s;
}
.teje-middle-middleb img:hover{
	transform:translateX(-20px);
}

}





@media screen and (max-width: 1200px){
	.teje2-box{
		width: 950px;
	}
		.teje-box{
			display: none;
		}
.teje2-xbox{
	width:950px;height:539px;
	/*background-color:green;*/
	margin:52px auto;  
}
.teje2-left{
	width:220px;height:539px;
	/*background-color:blue; */
	float:left; 
	cursor:pointer;  
}
.teje2-left img{
	width:220px;height:539px;
}
.teje2-middle{
    width:700px;height:540px;
    /*background-color:black;  */
    float: left;
}
.teje2-middle-left{
	width:230px;height:540px;
	/*background-color:yellow; */
	float: left;  
}
.teje2-middle-lefts{
	width:230px;height:269px;
	border-bottom:1px solid #e9e9e9;
	/*background-color:green; */
}
.teje2-middle-lefts-n{
	width:175px;height:216px;
	/*background-color:orange; */
	/* margin-top:26px; */ 
}
.teje2-middle-lefts-nwz{
	width:175px;height:13px;
	/*background-color:yellow; */
	margin-bottom:5px; 
}
.teje2-middle-lefts-nwz a{
    font-size:13px;
    color: black; 
    display: block;
    line-height:13px;  
}
.teje2-middle-lefts-nwzt{
	width:175px;height:37px;
	/*background-color:yellow; */
}
.teje2-middle-lefts-nwzta{
	width:50px;height:37px;
	/*background-color:blue; */
	float:left;
}
.teje2-middle-lefts-nwztat{
	width:50px;height:12px;
	/* background-color:red; */ 
}
.teje2-middle-lefts-nwztat a{
     font-size:12px;
     color:black;
     display:block;
     text-align:center; 
     line-height:12px;   
}
.teje2-middle-lefts-nwztatb{
      width:50px;height:20px;
      background-color:red; 
      margin-top:3px; 
}
.teje2-middle-lefts-nwztatb a{
	font-size:11px;
	color:white;
	display: block;
	text-align:center;
    line-height:20px; 
}

.teje2-middle-lefts-t{
	width:82px;height:117px;
	/* background-color:black; */
	margin-right:15px; 
}
.teje2-middle-lefts-t img{
    width:82px;height:117px;
     transition:transform 0.2s;
}
.teje2-middle-lefts-t img:hover{
	transform:translateX(-20px);
}

.teje2-middle-middle{
	width:478px;height:540px;
	/*background-color:yellow; */
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9; 
	float:left;
}
.teje2-middle-middlet{
	width:439px;height:180px;
	/*background-color:white; */
}
.teje2-middle-middletwz{
	width:439px;height:24px;
	/*background-color:green; */
}
.teje2-middle-middletwz a{
	font-size:24px;
	color:black;
	display: block;
	line-height:24px;  
}
.teje2-middle-middletwzz{
	width:439px;height:12px;
	/*background-color:green; */
	margin-top:5px; 
}
.teje2-middle-middletwzz a{
	font-size:12px;
	color:#999999;
	display: block;
	line-height:12px; 
}
.teje2-middle-middletwzb{
	width:73px;height:46px;
	/*background-color:green;  */
	margin-top:10px;
	float:left;   
}
.teje2-middle-middletwzbt{
	width:73px;height:17px;
	/*background-color:blue; */
}
.teje2-middle-middletwzbt a{
    font-size:17px;
    color:black;
    display:block;
    text-align: center;
    line-height:17px;   
}
.teje2-middle-middletwzbts{
	width:48px;height:19px;
	background-color:red;
	margin-top:5px; 
}
.teje2-middle-middletwzbts a{
	font-size:19px;
    color:white;
    display:block;
    text-align: center;
    line-height:19px; 
}
.teje2-middle-middleb{
	width:396px;height:330px;
	/*background-color:green;  */

}
.teje2-middle-middleb img{
	width:396px;height:330px;

}


	}





/* 蓝牙部分开始 */
.ly-box{
	width:100%;height:522px;
	background-color:#f6f6f6; 
	padding-top:122px; 
}
.ly-sbox{
	width:1200px;height:400px; 
	/* background-color:blue; */
}
.ly-sboxl{
	width:712px;height:400px;
	/* background-color:yellow; */   
	float: left;
}
.ly-sboxl img{
    width:712px;height:400px;
}
.ly-sboxr{
	width:467px;height:374px;
	/* background-color:yellow; */
	float:left; 
	margin-left:20px;
	margin-top:13px;    
}
.ly-sboxr-t{
	width:467px;height:80px;
	/* background-color:green; */ 
}
.ly-sboxr-t a{
	font-size:13px;
	color:black;
	display: block;
	line-height:13px;   
}
.ly-sboxr-m{
	width:178px;height:18px;
	/* background-color:blue; */ 
	margin-left:0px; 
	margin-top:10px; 
}
.ly-sboxr-m a{
	font-size:18px;
	color:red;
	display: block;
	line-height:18px;
}
.ly-sboxr-ml{
	width:140px;height: 40px;
	background-color:red; 
	margin-left:3px;
	float: left;
	margin-top:10px; 
}
.ly-sboxr-ml a{
	font-size:15px;
	color:white;
	display: block;
	line-height:40px;
	text-align:center; 
}
.ly-sboxr-mr{
	width:140px;height: 40px;
	border:1px solid black; 
	margin-left:10px;
	float: left;
	margin-top:10px; 
}
.ly-sboxr-mr a{
	font-size:15px;
	color:black;
	display: block;
	line-height:40px;
	text-align:center; 
}
.ly-sboxr-bt{
	width:467px;height:70px;
	/* background-color:green; */ 
	border-top:1px solid #d7d7d7;
	margin-top:190px;
}
.ly-sboxr-btl{
    width:160px;height:22px;
    /* background-color:red; */  
     float: left;
     margin-top:30px;
}
.ly-sboxr-btll{
	width:22px;height:22px;
	border-radius:50%;
	/* background-color:yellow; */
	float: left;  
}
.ly-sboxr-btll img{
	width:22px;height:22px;
	border-radius:50%;
}
.ly-sboxr-btllwz{
	width:146px;height:28px;
	/* background-color:green; */
}
.ly-sboxr-btllwz a{
	font-size:11px; 
	color:black;
	display:block;
	line-height:28px;
	text-align: center;
}
.ly-sboxr-btr{
	width:142px;height:40px;
	background-color:black;  
	float:left; 
	margin-top:20px;
	float:right; 
}
.ly-sboxr-btr a{
	font-size:15px; 
	color:white;
	display:block;
	line-height:40px;
	text-align: center;
}





.twlist-box{
	width:1200px;height:982px;
	/*background-color:blue;*/
	margin-top:60px; 
}
.twlist-boxs{
	width:380px;height:476px;
	background-color:#f6f6f6;
	float:left;
	margin-left:10px;    
	margin-right:10px; 
	margin-bottom:30px; 
}
.twlist-boxss{
	width:100%;height:289px;
	/*background-color:red; */

}
.twlist-boxss img{
	width:100%;height:289px;
}
.twlist-boxsswz{
	width:100%;height:187px;
	/*background-color:yellow; */
}
.twlist-boxsswzs{
	width:50px;height:50px;
	/* background-color:green; */
	float:left;  
	border-radius:50%;
	margin-left:18px;
	display: inline-block;
/* 	margin-top:-25px;  */
}
.twlist-boxsswzs img{
    width:50px;height:50px;
    border-radius:50%;
    display: inline-block;
}
.twlist-boxsswzst{
	width:293px;height:13px;
	/* background-color:green; */
	float:left;
	margin-top:25px;     
}
.twlist-boxsswzstl{
	width:39px;height:13px;
	/* background-color:red; */ 
	float:left;  
}
.twlist-boxsswzstl a{
    font-size:13px;
    color:#999999;
    display:block; 
    line-height:13px;
    text-align:center;   	
}
.twlist-boxsswzstls{
	width:10px;height:11px;
	/* background-color:red; */ 
	float:left; 
	margin-left:180px; 
	margin-top:-1.5px; 
}
.twlist-boxsswzstls a{
	 font-size:13px;
    color:#999999;
    display:block; 
    line-height:13px;
    text-align:center;
}
.twlist-boxsswzstlss{
	width:16px;height:16px;
	/* background-color:red; */ 
	float:left; 
	margin-left:17px;
	margin-top:-2px;  
}
.twlist-boxsswzstlss img{
	width:16px;height:16px;
}
.twlist-boxsswzstlsss{
	width:11px;height:11px;
	/* background-color:red; */ 
	float:left; 
	margin-left:10px;
}
.twlist-boxsswzstlsss a{
	font-size:11px;
    color:#999999;
    display:block; 
    line-height:11px;
    text-align:center;
}
.twlist-boxsswzb{
	width:380px;height:128px;
	/* background-color:green; */ 
	margin-top:35px;
	margin-left:-68px; 
	display:block; 
}
.twlist-boxsswzbs{
	width:100%;height:13px;
	/* background-color:red; */  
}
.twlist-boxsswzbs a{
   font-size:13px;
   color:black;
   display:block;
   line-height:13px;   
}
.twlist-boxsswzbss{
	width:100%;height:28px;
	/* background-color:red; */
    margin-top:18px;   
}
.twlist-boxsswzbss a{
	font-size:14px;
	color:black;
	display:block;
	line-height:14px;     
}
.twlist-boxsswzbsss{
	width:100%;height:13px;
	/* background-color:red; */ 
    margin-top:30px; 
}
.twlist-boxsswzbsss a{
	font-size:13px;
	color:black;
	display:block;
	line-height:13px;   
}
.twlist-box-btn-box{
	width:100%;height:34px;
	/* background-color:blue; */ 
	margin-top:50px; 
}
.twlist-box-btn{
	width:177px;height:34px;
	border:1px solid black; 
}
.twlist-box-btn a{
	font-size:14px;
	color:black;
	display:block;
	line-height:34px; 
	text-align: center;  
}






.ppt{
	width:100%;height:664px;
	background-color:#f6f6f6;  
	margin-top:50px;  
}
.ppt-box{
	width:1200px;height:479px;
	/* background-color:blue; */ 
}
.ppt-box-left{
	width:237px;height:479px;
	/* background-color:green; */  
	float:left; 
}
.ppt-box-leftt{
	width:100%;height:238px;
	background-color:#f6f6f6;
	margin-bottom:2px;  
	position: relative;
}
.ppt-box-leftt img{
	width:100%;height:238px;
}
.ppt-box-lefttm{
	width:100%;height:44px;
	background-color:black; 
	position: absolute;
	top:194px;
	opacity:0.5; 
}
.ppt-box-lefttms{
	width:126px;height:44px;
	/* background-color:blue; */
	float:left; 
}
.ppt-box-lefttms a{
	font-size:15px;
	color:white;
	display: block;
	text-align: center;
	display: block;  
	line-height:40px; 
}
.ppt-box-lefttmsr{
	width:29px;height:29px;
	/* background-color:red; */  
	position: absolute;
	right:10px;top:7px;
}
.ppt-box-lefttmsr img{
	width:29px;height:29px;
}
.ppt-box-middle{
	width:479px;height:479px;
	/* background-color:green; */ 
	float:left;
	position: relative;
}
.ppt-box-middle img{
	width:479px;height:479px;
}
.ppt-box-middlen{
	width:100%;height:44px; 
	background-color:black;
	position: absolute;
	top:435px; 
	opacity:0.5; 
}
.ppt-box-middlenl{
	width:142px;height:44px;
	/* background-color:green; */  
	float:left;
	margin-left:5px; 
}
.ppt-box-middlenl a{
	font-size:16px;
	color:white;
	display:block;
	line-height:44px;   
}
.ppt-box-middlenlr{
	width:29px;height:29px;
	/* background-color:red; */ 
	float:left; 
	position: absolute;
	right:10px; top:7px; 
}
.ppt-box-middlenlr img{
	width:29px;height:29px;
}
.ppt-box-r{
	width:477px;height:479px;
	/* background-color:green; */
	float:left; 
	margin-left:7px; 
}
.ppt-box-rt{
	width:100%;height:236px;
	/* background-color:red; */ 
}
.ppt-box-rtl{
	width:50%;height:236px;
	/* background-color:yellow; */
	float:left; 
	position: relative;
}
.ppt-box-rtl img{
	width:100%;height:236px;
}
.ppt-box-rtls{
	width:100%;height:44px;
	background-color: black;
    opacity:0.5; 
    position: absolute;
    top:192px;
}
.ppt-box-rtlswz{
	width:146px;height:44px;
	/* background-color:red; */ 
	float:left;
	margin-left:5px; 
}
.ppt-box-rtlswz a{
	font-size:15px;
	color:white;
	display:block;
	line-height:44px;   
}
.ppt-box-rtlswzpc{
	width:29px;height:29px;
	/* background-color:red; */
	float:left;  
	position: absolute;
	right:10px;top:8px; 
}
.ppt-box-rtlswzpc img{
	width:29px;height:29px;
}
.ppt-box-rtlswzpcb{
	width:100%;height:243px;
	/* background-color:red; */
	position: relative; 
}
.ppt-box-rtlswzpcb img{
	width:100%;height:243px;
}
.ppt-box-rtlswzpcbs{
	width:100%;height:46px;
	background-color:black;
	position: absolute;
	top:197px;
	opacity:0.5;  
}
.ppt-box-rtlswzpcbswz{
	width:115px;height:46px;
	/* background-color:red; */ 
	float:left; 
	margin-left:15px; 
}
.ppt-box-rtlswzpcbswz a{
	font-size:15px;
	color:white;
	display: block;
	line-height:46px;  
}
.ppt-box-rtlswzpcbspc{
	width:29px;height:29px; 
	/* background-color:red; */ 
	float:left;
	position: absolute;
	right:10px;  top:8px;
}
.ppt-box-rtlswzpcbspc img{
	width:29px;height:29px;
}
.ppt-box-btn-box{
	width:100%;height:34px;
	/* background-color:blue; */
	margin-top:30px;  
}
.ppt-box-btn{
     width:178px;height:34px;
     border:1px solid black;  
}
.ppt-box-btn a{
	font-size:16px;
	color:black;
	display: block;
	line-height:34px;
	text-align: center;   
}







.icon-box{
	width:1200px;height:250px;
	/* background-color:blue; */ 
	margin-top:106px; 
}
.icon-box-t{
	width:100%;height:80px;
	/* background-color:green; */ 
	margin-top:60px; 
}
.icon-box-tpc{
	width:80px;height:80px;
	/* background-color:yellow; */
	 float:left;
	 margin-left:25px;
	 margin-right:25px; 
}
.icon-box-tpc img{
	width:80px;height:80px;
}
.icon-box-tpcwz{
	width:88px;height:90px;
	background-color:black; 
	float:left;
	margin-left:30px; 
}
.icon-box-tpcwz a{
	font-size:17px;
	color:white;
	display:block;
	text-align:center;
	line-height:90px;
	text-align: center; 
}
#aa{
	width:88px;height:27px;
	margin-top:20px; 
}
#bb{
	width:88px;height:20px;
	margin-top:25px; 
}
#cc{
	width:88px;height:27px;
	margin-top:20px; 
}
#dd{
	width:88px;height:40px; 
	margin-top:20px; 
}



.bottom{
	width:100%;height:294px;
	background-color:black; 
}
.bottom-top{
	width:1200px;height:120px;
	/* background-color:blue; */
	border-bottom:1px solid #333333;  
}
.bottom-top-l{
	width: 890px;height:40px;
	/* background-color:red; */
	margin-top:30px;  
}
.bottom-top-ls{
	width:153px;height:40px;
	/* background-color:green; */ 
	float:left; 
	margin-left:30px;
	margin-right:30px;
	margin-top:30px; 
}
.bottom-top-lsl{
	width:40px;height:40px;
	/* background-color:yellow; */ 
	float:left;
}
.bottom-top-lsl img{
	width:40px;height:40px;
}
.bottom-top-lsld{
	width:100%;height:40px;
	/* background-color:yellow; */ 

}
.bottom-top-lsld a{
	font-size:15px;
	color:white;
	display: block;
	text-align: center;
	line-height:40px;   
}
.bottom-bottoom{
	width:910px;height:173px;
	/* background-color:green; */ 
}
.bottom-bottoom-l{
	width:60%;height:173px;
	/* background-color:yellow; */ 
	border-right:1px solid #333333;
	float:left; 
}
.bottom-bottoom-lt{
    width:100%;height:16px;
    /* background-color:red; */ 
    margin-top:63px;
}
.bottom-bottoom-lt a{
    font-size:16px;
    color: #666666; 
    display: block;
    line-height:16px; 
}
.bottom-bottoom-lwz{
	width:100%;height:11px;
	/* background-color:red; */ 
	margin-top:30px;  
}
.bottom-bottoom-lwzl{
	width:72px;height:11px;
	/* background-color:green; */
	float: left; 
}
.bottom-bottoom-lwzl a{
    font-size:11px;
    color:#666666;
    display: block;
    text-align: center;
    line-height:11px;   
}
.bottom-bottoom-lwzl a:hover{
     color:white; 
}
.bottom-bottoom-r{
	width:100%;height:173px; 
	/* background-color:orange; */ 
}
.bottom-bottoom-rs{
	width:213px;height:173px;
	/* background-color:blue; */  
	float:left; 
}
.bottom-bottoom-rst{
	width:100%;height:12px;
	/* background-color:green; */ 
	margin-top:36px; 
}
.bottom-bottoom-rst a{
	font-size:12px;
	color:#666666;
	display: block;
	text-align: center;
	line-height:12px;   
}
.bottom-bottoom-rsts{
	width:100%;height:42px;  
	/* background-color:yellow; */
	margin-top:20px;  
}
.bottom-bottoom-rstss{
	width:42px;height:42px; 
	/* background-color:green; */
	border-radius:50%; 
	float: left;
	margin-left:20px;  
}
.bottom-bottoom-rstss img{
	width:42px;height:42px;
	border-radius:50%;
}
.bottom-bottoom-rr{
	width:148px;height:173px;
	/* background-color:yellow; */ 
	float:left;
}
.bottom-bottoom-rrs{
	width:100%;height:113px; 
	/* background-color:red; */ 
	margin-top:30px; 
}
.bottom-bottoom-rrs img{
	width:111px;height:113px;
}
